
<h2 class="text-center">Edit Awesome</h2>
<form [formGroup]="awesomeForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group">
    <label for="exampleFormControlInput1">Tag</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="tag">
  </div>
  <div *ngIf="awesomeForm.get('tag').invalid && awesomeForm.get('tag').touched" style="color: red">
    Tag is required
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">URL</label>
    <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="url">
  </div>
  <div *ngIf="awesomeForm.get('url').invalid && awesomeForm.get('url').touched" style="color: red">
    URL is required
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descriptions</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descriptions"></textarea>
  </div>
  <div *ngIf="awesomeForm.get('descriptions').invalid && awesomeForm.get('descriptions').touched" style="color: red">
    URL is required
  </div>
  <input class="btn btn-primary" type="submit" value="Edit">
  <input class="btn btn-primary" type="submit" value="Delete" (click)="delete()" >
</form>
